<div class="container m-5 justify-content-center p-5">
    <p>To Post Hard Coded Value On DataBase </p>
    <button class=" btn btn-primary" (click)="createPost1()">Createpost</button>
</div>
<hr>
<hr>
<div class="container border bg-dark text-warning text-capitalize">
    <div class=" row justify-content-center border">
        <div class="col-md-6 text-left rounded py-5">
            <h3>Reactive Form Learning</h3>
            <form [formGroup]="myReactiveForm" action="">
                <div class="form-group" formGroupName="userDetails">

                    <div class="from-group">
                        <label for="">User Name:</label>
                        <input type="text" name="" class=" form-control" formControlName="username"
                            placeholder="Enter user Name">
                        <small class=" text-danger"
                            *ngIf="!myReactiveForm.get('userDetails.username').valid && myReactiveForm.get('userDetails.username').touched">
                            <small class=" text-danger"
                                *ngIf="myReactiveForm.get('userDetails.username').errors['required']">Please Enter User
                                Name</small>
                            <!-- <small class=" text-danger" *ngIf="myReactiveForm.get('username').value =='Codemind'">CodeMind  is Not allowed</small>  -->
                            <!-- <small class=" text-danger" *ngIf="myReactiveForm.get('username').value =='Technology' ">Technology is not allowed</small> -->
                            <small class=" text-danger"
                                *ngIf="myReactiveForm.get('userDetails.username').errors['namesNotAllowed'] ">{{myReactiveForm.get('userDetails.username').value}}
                                Name is not allowed</small>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="">Email :</label>
                        <input type="text" name="" class=" form-control" formControlName="email"
                            placeholder="Enter Email Address">
                        <small class=" text-danger"
                            *ngIf="!myReactiveForm.get('userDetails.email').valid && myReactiveForm.get('userDetails.email').touched">Please
                            Enter Valid Email
                            <small class=" text-danger"
                                *ngIf="myReactiveForm.get('userDetails.email').errors['emailNotAllowed'] ">{{myReactiveForm.get('userDetails.email').value}}
                                email is not allowed</small>
                        </small>
                    </div> &nbsp;

                </div>
                <div class="form-group h4">
                    <label for="">Select Course</label>
                    <select class="form-control" name="" formControlName="Course">
                        <option value="Angular">Angular</option>
                        <option value="React">React</option>
                        <option value="view">View</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="h4">Gender</label>
                    <div class="custome-control custom-radio" *ngFor="let genderss of genders">
                        <input type="radio" id="{{genderss.id}}" name="" formControlName="gender"
                            value="{{genderss.value}}" class="custome-control-input">
                        <label for="{{genderss.id}}" class="custome-control-lable">{{genderss.value}}</label>
                    </div>
                </div>
                <div class="form-group" formArrayName="skills">
                    <label for="">
                        <h4>Skills</h4>
                    </label>
                    <ng-container *ngFor="let skill of myReactiveForm.get('skills').controls;index as i">
                        <input type="text" class=" form-control mt-2" formControlName="{{i}}" placeholder=" Add Skills">
                    </ng-container>
                    <button class=" btn btn-info  btn-add btn-sm mt-4 " (click)="OnAddSkill()"><i
                            class="btn-add">+</i>Add Skills</button>
                    <button class=" btn btn-info  btn-add btn-sm mt-4  new" (click)="OnRemoveSkill()"><i
                            class="btn-add">-</i>Remove 1'st Skill</button>
                </div>&nbsp;
                <div class="form-group">
                    <button class="btn btn-success form-control" (click)="OnSubmit()">Submit</button>
                    <!-- <small class=" text-danger" *ngIf="!myReactiveForm.valid && myReactiveForm.touched"> All field are mandatory</small> -->
                </div>
            </form>
        </div>
        <div class="row justify-content-center mt-2" *ngIf="btndisable">
            <div class="col-md-6 rounded shadow py-5">
                <h2>Reactive From Data </h2>
                <p>User Name :<strong>{{myReactiveForm.get('userDetails.username').value}}</strong></p>
                <p>User Email :<strong>{{myReactiveForm.get('userDetails.email').value}}</strong></p>
                <p>Selected Course :<strong>{{myReactiveForm.get('Course').value}}</strong></p>
                <p>Gender :<strong>{{myReactiveForm.get('gender').value}}</strong></p>
                <p>Skills :<strong>{{myReactiveForm.get('skills').value}}</strong></p>
            </div>
        </div>
    </div>

    
</div>

<!-- <div class=" container m-4 p-4">
    <button (click)="getData()" class=" btn btn-primary">
        Get Data
    </button>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Email</th>
                <th>gender</th>
                <th>User Name</th>
                <th>skills</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let one of getarray">
                <td>{{one.userDetails.username}}</td>
                <td>{{one.userDetails.email}}</td>
                <td>{{one.Course}}</td>
                <td>{{one.gender}}</td>
                <td>{{one.skills}}</td>
            </tr>
        </tbody>
    </table>

</div> -->