<!-- Parent -->
<div class="container p-5 m-2 bg-warning rounded border border-danger rounded-4  shadow-lg align-middle d-flex flex-column">
   <!-- Select Array No: <select (change)="uid = sid.value" #sid  class="dropdown w-25">
        <option selected disabled>No value selected</option>
        <option [value]="id" *ngFor="let id of [1,2,3,4]">
            {{id}}
        </option>
    </select> -->

   <span class="h3">Select Car</span> <select name="" id="" (change)="carid = valid.value" #valid class="dropdown w-25">
        <option selected disabled>No Value Selected </option>
        <option *ngFor="let ab of car">
          {{ab.cName}} 
        </option>
    </select>
</div>

<input type="text" name="" placeholder="Enter Value" id="" (blur)="handaledata($event)">
<p> Enter Product Name: <input placeholder="Product Name" [(ngModel)]="name" type="text" name="" id=""></p>
<p> Enter Product Price: <input placeholder="Product Price" [(ngModel)]="price" type="text" name="" id=""></p>

<button class="btn btn-primary " (click)="updateProduct()">Update Product</button>
<app-hooks *ngIf="appchildExist"  [cars]="carid" [parentData]="data" [product]="product">
     <h1 > This is child content coming form parent component </h1>
</app-hooks>

<button class="btn btn-danger" (click)="destroy()">Destroy component</button>
 

<!-- [userid]="uid" -->