<div class=" w-100  m-4 p-3 ">
    <!-- border-5 border-dark -->
    <div class="d-flex">
        <div class=" col-8 mt-4 p-2 d-flex flex-wrap  align-items-center justify-content-between justify-content-center ">
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/312/312/camera/d/6/7/canon-dslr-eos-5d-mark-iv-dslr-original-imaemgtbmhvwhzdm.jpeg?q=70" class="card-img-top" style="height: 13rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon EOS 5D</h5>
                    <p class="card-text">Canon EOS 5D Mark IV DSLR Camera Body with Single Lens:EF 24-105mm f/4L IS II USM Lens.</p>
                    <a routerLink="camera" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/312/312/khf63680/dslr-camera/x/3/f/digital-camera-eos-r5-eos-r5-canon-original-imafxg43yszy6uz4.jpeg?q=70" class="card-img-top" style="height: 13rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon EOS R5</h5>
                    <p class="card-text">Canon Full Frame Mirrorless EOS R5 Mirrorless Camera Body  (Black).</p>
                    <a routerLink="camera" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card d-flex flex-row flex-wrap" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/312/312/krdtlzk0/dslr-camera/o/i/a/s1rmga-lumix-dc-s1rmga-with-24-105-mm-lens-panasonic-original-imag56jhdnyc4rhz.jpeg?q=70" class="card-img-top" style="height: 13rem;" alt="">
                <div class="card-body">
                    <h5 class="card-title">Panasonic Lumix DC-S1RMGA</h5>
                    <p class="card-text">Panasonic Lumix DC-S1RMGA with 24-105 mm lens, 24-105 MM Lens.</p>
                    <a routerLink="camera" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/612/612/gamepad/usb/b/4/g/red-gear-pro-series-wired-original-imaehwasqdhmqysg.jpeg?q=70" class="card-img-top" style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">Vibration Joy Pad</h5>
                    <p class="card-text">USB Game Remote/Controller for Computer with Vibration Only for Laptop Or Desktop Joystick</p>
                    <a routerLink="gaming" class="btn btn-primary">Details</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/312/312/xif0q/keyboard/gaming-keyboard/2/r/e/single-handed-usb-gaming-keyboard-wired-35-keys-rainbow-led-original-imagj52d5gvgb6ax.jpeg?q=70" class="card-img-top" style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">One Handed Gaming Keyboard</h5>
                    <p class="card-text">Paruht Portable Mini One Handed Gaming Keyboard USB, Wired 35Keys Rainbow LED Backlight </p>
                    <a routerLink="gaming" class="btn btn-primary">Details</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://rukminim1.flixcart.com/image/312/312/l52sivk0/gaming-accessory-kit/mobile-gaming-trigger/m/t/n/battlemods-ninjax-electric-with-burst-mode-for-bgmi-pubg-cod-original-imagftw67vmbrvum.jpeg?q=70" class="card-img-top " style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">SpinBot BattleMods NinjaX Electric</h5>
                    <p class="card-text"> NinjaX Electric With Burst Mode For BGMI,PUBG,COD Free Fire Gaming Accessory Kit </p>
                    <a routerLink="gaming" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-4 container  mt-4 p-2 d-flex  justify-content-center ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
