<div class=" container-fluid border bg-dark text-warning text-capitalize">
    <div class=" p-4 m-5  container bg-light border border-4 border-warning rounded-4 shadow">
        <!-- <div class="col-md-6 text-left rounded py-5 "> -->
        <form  [formGroup]="myReactiveForm" >
            <div class=" mb-3 row">
                <label for="" class="col-sm-2">Project Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>
            <div class=" mb-3 row">
                <label for="" class="col-sm-2">Email Id</label>
                <div class="col-md-5">
                    <input type="email" class="form-control" id="">
                </div>
            </div>
            <div class=" mb-3 row">
                <label for="" class="col-sm-2">Project Status</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="" id="">
                </div>
            </div>
            <div>
                <button class="btn btn-success col-md-2">Submit</button>
            </div>
            
        </form>
    <!-- </div> -->
    </div>
</div>