<div class=" d-flex flex-column bg-dark text-warning">
    <img src="https://rukminim1.flixcart.com/image/312/312/camera/d/6/7/canon-dslr-eos-5d-mark-iv-dslr-original-imaemgtbmhvwhzdm.jpeg?q=70"
        alt="">
    <strong class=" text-capitalize text-center text-dark h2" appCustdir>Canon EOS 5D</strong>

    <ul>
        <li class="_21Ahn-">Effective Pixels: 30.4 MP</li>
        <li class="_21Ahn-">Sensor Type: CMOS</li>
        <li class="_21Ahn-">WiFi Available</li>
        <li class="_21Ahn-">4K at 30p + 4K Frame Grab</li>
    </ul>
    <button class="btn btn-success">Buy Now</button>
</div>