<div class=" container border m-4 ">
    <div class="row">
        <div class=" col-8 mt-5 p-5 d-flex justify-content-center align-items-center border">
            <div class="card w-50" style="width: 18rem;">
                <img src="https://www.apple.com/v/macbook-pro-14-and-16/b/images/overview/hero/specs__ga1a5ub5id6y_large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    
            <div class="card w-50" style="width: 18rem;">
                <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-18746,resizemode-1,msid-91597664/magazines/panache/apple-to-offer-bigger-screens-on-iphone-14-pro-iphone-14-pro-max-heres-why.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Appel 14</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    
            <div class="card w-50" style="width: 18rem;">
                <img src="https://imageio.forbes.com/blogs-images/johnarcher/files/2017/05/SamsungQN55Q8CFront.jpg?format=jpg&width=1200" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
    
            <div class="card w-50" style="width: 18rem;">
                <img src="https://www.lg.com/in/images/washing-machines/md07518468/gallery/FHV1207ZWB-Washing-Machines-Front-View-Open-D-02.jpg" class="card-img-top" alt="..">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="wachingMachine" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 container text-center mt-5 p-5 border">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>