<div class=" w-100  m-4 p-3 ">
    <!-- border-5 border-dark -->
    <div class="d-flex">
        <div class=" col-8 mt-4 p-2 d-flex flex-wrap  align-items-center justify-content-between justify-content-center ">
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAcJJ02UDT7yXdj0gWkMnEiUGpbHI8JcFnWBFeaxQ_dWePMq65E681r68GF5uFxmohEw&usqp=CAU" class="card-img-top" style="height: 13rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="laptop" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-18746,resizemode-1,msid-91597664/magazines/panache/apple-to-offer-bigger-screens-on-iphone-14-pro-iphone-14-pro-max-heres-why.jpg" class="card-img-top" style="height: 13rem;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Appel 14</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="mobile" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://imageio.forbes.com/blogs-images/johnarcher/files/2017/05/SamsungQN55Q8CFront.jpg?format=jpg&width=1200" class="card-img-top" style="height: 13rem;" alt="">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="tv" class="btn btn-primary">Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://www.lg.com/in/images/washing-machines/md07518468/gallery/FHV1207ZWB-Washing-Machines-Front-View-Open-D-02.jpg" class="card-img-top" style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="wachingMachine" class="btn btn-primary">Details</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThoCgLXVFbO7wWpcQkcynxxiXMnb8nn2_1gw&usqp=CAU" class="card-img-top" style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">Microwave Oven</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="wachingMachine" class="btn btn-primary">Details</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem;">
                <img src="https://static.wixstatic.com/media/2cd43b_3c1c1d30b99343acb96ba81a81021ed8~mv2.png/v1/fill/w_320,h_371,q_90/2cd43b_3c1c1d30b99343acb96ba81a81021ed8~mv2.png" class="card-img-top " style="height: 13rem;" alt="..">
                <div class="card-body">
                    <h5 class="card-title">Refrigerator</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="wachingMachine" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        <div class="col-4 container  mt-4 p-2 d-flex  justify-content-center ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>