<div class=" d-flex flex-column bg-dark text-warning">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOAcJJ02UDT7yXdj0gWkMnEiUGpbHI8JcFnWBFeaxQ_dWePMq65E681r68GF5uFxmohEw&usqp=CAU"
        alt="">
    <strong class=" text-capitalize text-center text-white">APPLE 2020 Macbook Air M1</strong>

    <ul class="_1xgFaf">
        <li class="rgWa7D">Apple M1 Processor</li>
        <li class="rgWa7D">8 GB DDR4 RAM</li>
        <li class="rgWa7D">Mac OS Operating System</li>
        <li class="rgWa7D">256 GB SSD</li>
        <li class="rgWa7D">33.78 cm (13.3 inch) Display</li>
        <li class="rgWa7D">Built-in Apps: iMovie, Siri, GarageBand, Pages, Numbers, Photos, Keynote, Safari, Mail, FaceTime,
            Messages, Maps, Stocks, Home, Voice Memos, Notes, Calendar, Contacts, Reminders, Photo Booth, Preview, Books,
            App Store, Time Machine, TV, Music, Podcasts, Find My, QuickTime Player</li>
        <li class="rgWa7D">1 Year Limited Warra­nty</li>
    </ul>

    <button class="btn btn-success">Buy Now</button>
</div>
