
<div class="container-fluid mt-5 p-5 ">
  <div class="container w-25 justify-content-center align-items-center bg-dark text-warning border-2 rounded-2 p-3">
    <form class=" text-center ">
      <div class="row mb-3">
        <div class=" mb-4 h2 text-white text-center">Login In Angular Learning</div>
        <div class=" col-sm-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
        </div>
        <div class=" col-sm-8">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
        </div>
        <div class=" col-sm-8">
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </div>
     
      <button type="submit" class="row btn btn-primary">Submit</button>
    </form>
  </div>
</div>