<!-- <div class="container-md">
    <label for="">Reset your Password</label>
</div> -->
<div class="container-md">
    <form>
        <table>
            <tbody>
                <tr>
                   <td><label for="">New Password</label></td> 
                    <td><input type="password" name="" id="one" placeholder="New Password"></td>
                </tr>
                <br>
                <tr>
                    <td><label for="">Re-Enter Password</label></td>
                    <td><input type="password" name="" id="two" placeholder="Reenter Password"></td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
        
       <div class="but">
        <div class="but1"><input appPass class="btn btn-outline-secondary" class="rounded-pill" type="reset" value="Cancel"></div>
        <div class="but2"><input appPass class="btn btn-outline-secondary" class="rounded-pill" type="submit" value="Submit" (click)="onclick()"></div>
       </div>
    </form>
</div>