.container-md{
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: rgb(20, 100, 170);
    color: rgb(249, 245, 245);
    border: 2px double rgb(112, 109, 109) ;
    border-radius: 30px;
    width: 60vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.but{
    padding: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}