<div class=" container m-5 p-5">
    <form [formGroup]="myReactiveForm">
        <div class="form-group row">
            <label for="" class=" col-sm-2 pt-2">Enter User Name </label>
            <div class="col-sm-5  ">
                <input type="text" class=" form-control border border-2 border-primary "
                 formControlName="userName">
            </div>
        </div>
        <button class=" btn btn-primary mt-5" (click)="Submit()"  >Add User</button>

        <!-- <small class="text-center text-danger" *ngIf="subifvalid"> Please Enter User Name </small> -->

    </form>
</div>
